.git
.gitignore
.idea
.vscode
.dart_tool
build
dist
node_modules
firebase-debug.log
mobile_flutter/.dart_tool
mobile_flutter/build
mobile_flutter/.pub-cache
mobile_flutter/.packages
mobile_flutter/ios/Pods
mobile_flutter/android/.gradle
*.log
.env
.env.local
.env.production
